################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MovieInformationService/bin
/MovieInformationService/obj
/MovieInformationService/MovieInformationService/bin
/MovieInformationService/MovieInformationService/obj
/MovieInformationService/MovieInformationService.Data/bin
/MovieInformationService/MovieInformationService.Data/obj
/MovieInformationService/MovieInformationService.Domain/bin
/MovieInformationService/MovieInformationService.Domain/obj